//Font
$font-title: "Cormorant SC";
$font-stack: "Cormorant Garamond";

//primary colours
$primary-text-color: #966B28;
$primary-background-color: #262626;
$primary-hover-color: #E6C068;

//secondary colours
$secondary-text-color: #ebebeb; 
$secondary-background-color: #DDDDDD;
$secondary-hover-color: #F1EAAE;
$title-color: #9f843d;

//Responsive breakpoints
$mobileL-breakpoint: 425px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
